/*=============================================
=            Section head_hero            =
=============================================*/

.head_hero {
  height: 100vh;
  position: relative;

  @media (max-width: 991px) {
    height: 60vh;
  }
  @media (max-width: 500px) {
    height: 45vh;
  }
  .head-hero-bac {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .web-hero-bac {
    display: block;
    @media (max-width: 991px) {
      display: none;
    }
  }
  .ipad-hero-bac {
    display: none;
    @media (max-width: 991px) {
      display: block;
    }
  }
  .phone-hero-bac {
    display: none;
    @media (max-width: 500px) {
      display: block;
    }
  }

  .head_hero_text_all {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    position: relative;
    align-items: center;
    @media (max-width: 991px) {
      padding: 15px;
    }
    h1 {
      font-family: Montserrat;
      font-size: 30px;
      text-transform: uppercase;
      color: $color-white;
      margin-bottom: 30px;
      @media (max-width: 991px) {
        font-size: 28px;
        margin-bottom: 20px;
      }
      @media (max-width: 500px) {
        font-size: 18px;
        margin-bottom: 5px;
      }
    }
    p {
      font-family: Segoe UI;
      font-size: 24px;
      color: $color-white;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 15px !important;
      }
      @media (max-width: 991px) {
        font-size: 20px;
        margin-bottom: 20px;
      }
      @media (max-width: 500px) {
        font-size: 14px;
        margin-bottom: 2px;
      }
    }
    a {
      transition: $transitionAll;
      color: $color-black;
      background-color: $color-white;
      font-size: 18px;
      text-transform: capitalize;
      padding: 15px 25px;
      &:hover {
        background-color: $color-white-2;
      }
      @media (max-width: 1200px) {
        padding: 15px;
      }
      @media (max-width: 768px) {
        font-size: 14px;
        padding: 10px;
      }
      @media (max-width: 500px) {
        margin-top: 10px;
        display: block;
        width: 40%;
        text-align: center;
      }
    }
  }
}

/*=====  End of Section head_hero  ======*/
