$transitionAll: all 0.5s ease-in-out;
$color-Beige: #d0bb93;
$color-brouwn-p: #9e8a7f;
$color-gold: #a5802d;

$color-blue:#5B728F;
$color-white-2:#FFFAFA;
$color-white: #ffffff;
$color-cacao: #5d5252;
$color-black: #000;
$color-gray: #b2b3b5;
$color-pink:#F4837D;